.row {
  margin: 0px 10px 0 10px;
  color: #fff;
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  margin-right: 10px;

  max-height: 100px;
  transition: transform 450ms;
}
.row_poster:hover {
  cursor:pointer
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterlarge {
  max-height: 250px;
}
.row_posterlarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
